In [0]:
primes=[2,3,5,7,11]
print(type(primes))
primes=(2,3,5,7,11)
print(type(primes))

<class 'list'>
<class 'tuple'>

In [0]:
print(primes[0])
print(primes[1])
print(primes[-1])
print(primes[-2])

2
3
11
7

In [0]:
print(primes[::2])

[2, 5, 11]

In [0]:
primes_list=[2,3,5,7,11]
primes_list[-1]=13
print(primes_list)

[2, 3, 5, 7, 13]

In [0]:
primes_list.insert(-1,11)
print(primes_list)

[2, 3, 5, 7, 11, 13]

In [0]:
x = 0.25
print(type(x))
print(x.as_integer_ratio())
print(type(x.as_integer_ratio()))

<class 'float'>
(1, 4)
<class 'tuple'>

In [0]:
def where_are_you_from(city, country):
    return city, country

print(where_are_you_from("Taipei", "Taiwan"))
print(type(where_are_you_from("Taipei", "Taiwan")))

('Taipei', 'Taiwan')
<class 'tuple'>

In [0]:
my_city, my_country = where_are_you_from("Taipei", "Taiwan")
print(my_city)
print(my_country)

Taipei
Taiwan

In [0]:
numerator, denominator = x.as_integer_ratio()
print(numerator)
print(denominator)

1
4

In [0]:
the_avengers = {
    "Iron Man": "Tony Stark",
    "Captain America": "Steve Rogers",
    "Hulk": "Bruce Banner",
    "Thor": "Thor",
    "Black Widow": "Natasha Romanoff",
    "Hawkeye": "Clint Barton"
}

print(the_avengers.keys())
print(the_avengers.values())
print(the_avengers.items())

dict_keys(['Iron Man', 'Captain America', 'Hulk', 'Thor', 'Black Widow', 'Hawkeye'])
dict_values(['Tony Stark', 'Steve Rogers', 'Bruce Banner', 'Thor', 'Natasha Romanoff', 'Clint Barton'])
dict_items([('Iron Man', 'Tony Stark'), ('Captain America', 'Steve Rogers'), ('Hulk', 'Bruce Banner'), ('Thor', 'Thor'), ('Black Widow', 'Natasha Romanoff'), ('Hawkeye', 'Clint Barton')])

In [0]:
#紓困
living_area=input("請輸入您的居住城市:")
print(living_area)


if living_area =="臺北市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 17005))
elif living_area == "新北市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 15500))
elif living_area == "桃園市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 15281))
elif living_area == "臺中市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 14596))  
elif living_area == "臺南市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 12388))
elif living_area =="高雄市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 13099))
elif living_area == "金門縣":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 11648))
elif living_area =="連江縣":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 11648))
elif living_area=="非六都縣市":
  print("{}的每人每月最低生活費為{:,}".format(living_area, 12388))
else:
  print("請重新輸入!")

請輸入您的居住城市:555
555
請重新輸入!

In [0]:
living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '金門縣': 11648,
    '連江縣': 11648,
    '非六都縣市': 12388
}
living_area = input('請輸入您的居住縣市:')
try:
    living_cost = living_cost_dict[living_area]
    print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))
except KeyError:
    print("請重新輸入!!")

請輸入您的居住縣市:花蓮縣
請重新輸入!!

In [0]:
#選單
living_cost_dict = {
    '臺北市': 17005,
    '新北市': 15500,
    '桃園市': 15281,
    '臺中市': 14596,
    '臺南市': 12388,
    '高雄市': 13099,
    '非六都之縣市': 12388,
    '金門縣連江縣': 11648
}

living_area = '\u91D1\u9580\u7E23\u9023\u6C5F\u7E23' #@param ['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市', '非六都之縣市', '金門縣連江縣']
living_cost = living_cost_dict[living_area]
print("{}的每人每月最低生活費為{:,}".format(living_area, living_cost))

金門縣連江縣的每人每月最低生活費為11,648